<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr/>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam distinctio, deleniti, error modi voluptatum sunt incidunt ducimus cumque commodi nisi odit dolorem eius ratione debitis voluptates autem, consectetur ut? Amet!</p>

<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam distinctio, deleniti, error modi voluptatum sunt incidunt ducimus cumque commodi nisi odit dolorem eius ratione debitis voluptates autem, consectetur ut? Amet!. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias eligendi ut sint obcaecati, earum ab aliquam, quidem numquam excepturi quia unde, deserunt nemo! Tenetur, cupiditate maxime consequatur fugit obcaecati ex?</p>

<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam distinctio, deleniti, error modi voluptatum sunt incidunt ducimus cumque commodi nisi odit dolorem eius ratione debitis voluptates autem, consectetur ut? Amet!. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias eligendi ut sint obcaecati, earum ab aliquam, quidem numquam excepturi quia unde, deserunt nemo! Tenetur, cupiditate maxime consequatur fugit obcaecati ex?</p>
